#main {
  padding: 10px;
  text-align: center;
  font-size: 100px;
  color: white;
  font: "Fira Sans", sans-serif;
}
#b {
 width: 150px;
 height: 100px;
 padding: 10px;
 text-align: center;
}
#c {
 background-image: url('../images/Joe (1).gif');
 width: 338px;
 height: 134;
 padding: 10px;
 right: 50%;
}