:root {
    --bgcolor: #c3e1ff;
    --textcolor: #037571;
    --color1: #0ABAB5;
    --color2: #99ccff;
}
body {
    background-color: var(--bgcolor);
    font-family: "Roboto Slab", serif;
    color: var(--textcolor);
}
.default-1 {
    width: 338px;
    height: 134px;
    background-image: url('../images/Joe (1).gif');
    border: 5px solid #ccff99;
    border-radius: 5%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.default-1:hover {
    filter: brightness(1.2);
    border: 5px solid var(--bgcolor);
}